 body {
 background-image: url(./images/codingpic3.jpeg);
 background-repeat: repeat;
 background-size: 120%;


} 

.navbar {
    background-color: transparent;
    position: fixed;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 15%;
    border-right: 1px solid rgb(170, 210, 115);
    border-bottom: 1px solid rgb(170, 210, 115);
    z-index: 10;
}


.intro {
    width: 100%;
    height: 100px;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(transparent, rgb(50, 40, 34) ,transparent );
    text-align: center;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    padding: auto;
    border-bottom:2px dotted rgb(170, 210, 115);
    border-top:1px solid rgb(170, 210, 115);
}
.intro h1 { 
    position:relative;
    width: 65%;
    margin:auto;
    top:-35px;
    color: white;
    text-decoration: none;
    Font-size: 50px;
    font-family:

}

ul {
    list-style:none;
}


.social-media {
    position:relative;
    top: -60px;
    left: 60px;
}

.social-media a {
margin:10px;
position:relative;
right: 15px;
}
.media-icon {
    border-radius: 50%;
    height:50px;
    width:50px;
}


.project-row {
display: flex;
flex-wrap: wrap;

}
.project-container {

    background-color:white;
    background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    height: 375px;
    margin:20px auto;
    width:300px;
    border-radius: 45px;
    border: 3px solid black;

}
.project-a: {

}

.image-row {
    height: 70%;
}
.image-caption {
    text-align: center;
    height:30%;
    color: white;
    font-size: 30px;
    font-family:cursive;
}
.image-caption h3 {
    margin:auto;
    font-size: 50px;
    color: rgb(170, 210, 115);


}
.thumbnail img {
    position:relative;
    left: 2px;
    top: 2px;
    margin: auto;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    border: 3px solid black;

}
.thumbnail-wrap {
    background-color:rgb(210, 50, 100);
    border-radius: 50%;
    position:relative;
    height: 175px;
    width:175px;
    border:3px solid black;
    margin:auto;

}

.lower-jumbo {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom : -50px;
    background-color: transparent;
    background-image: linear-gradient(transparent, rgb(50, 40, 34) ,transparent );
    color: white;
    text-align: center;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-top:4px solid black;
    opacity: 0.7;

}
.lower-jumbo h1 {

    position:relative;
    bottom: 30px;
    font-size: 35px;

}

@media screen and (max-width: 768px) {





}